@import "variables";

.main {
	overflow: hidden;
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	background: black;
}





.main-bg {
	width: 100%;
	height: 100%;
	
	position: absolute;
	
	opacity: 0;
	
	transition: all $time3 3s;
	
	@media (max-width: $breakpointMobile) {
		display: none;
	}
	
	&--in {
		opacity: 0.7;
	}
}





.slide {
	width: 100%;
	height: 100%;
	
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	
	background-size: cover;
	background-position: center;
	opacity: 0;
	
	pointer-events: none;
	
	transition: all 0.4s;
	transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
	transform: scale3d(1.5, 1.5, 1);
	
	&--in {
		opacity: 1;
		transform: scale3d(1, 1, 1);
		pointer-events: all;
	}
	
	&--visible {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	
	&--out {
		pointer-events: none;
	}
	
	&--1 {
		background-image: url("img/1.jpg");
	}
	
	&--2 {
		background-image: url("img/2.jpg");
		background-position: center top;
	}
	
	&--3 {
		background-image: linear-gradient(-45deg, #111, #222);
	}
	
	&--4 {
		background-image: url("img/4.jpg");
		background-position: center 35%;
		
		@media (max-width: $breakpointMobile) {
			background-position: 60% 35%;
		}
	}
	
	&--5 {
		background-image: linear-gradient(135deg, #69f0ae, #2e7d32);
	}
	
	&--5a {
		width: 33%;
		background-image: url("img/5a.jpg");
		box-shadow: 0 0 8vw color-mod(#111 a(50%));
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 33%;
		}
	}
	
	&--5b {
		width: 33%;
		left: 33%;
		background-image: url("img/5b.jpg");
		background-position-x: 67%;
		box-shadow: 0 0 8vw color-mod(#111 a(50%));
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 33%;
			top: 33%;
			left: 0%;
		}
	}
	
	&--5c {
		width: 34%;
		left: unset;
		right: 0;
		background-image: url("img/5c.jpg");
		background-position-x: 30%;
		box-shadow: 0 0 8vw color-mod(#111 a(50%));
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 34%;
			top: 66%;
			left: 0%;
		}
	}
	
	&--6 {
		background-image: linear-gradient(-45deg, #81022d 10%, #c5346c 50%, #fca90b 100%);
	}
	
	&--6a {
		width: 33%;
		background-image: url("img/6a.jpg");
		box-shadow: 0 0 8vw color-mod(#111 a(50%));
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 33%;
		}
	}
	
	&--6b {
		width: 33%;
		left: 33%;
		background-image: url("img/6b.jpg");
		box-shadow: 0 0 8vw color-mod(#111 a(50%));
		background-position-x: 67%;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 33%;
			top: 33%;
			left: 0%;
		}
	}
	
	&--6c {
		width: 34%;
		left: unset;
		right: 0;
		background-image: url("img/6c.jpg");
		box-shadow: 0 0 8vw color-mod(#111 a(50%));
		background-position-x: 30%;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 34%;
			top: 66%;
			left: 0%;
		}
	}
	
	&--7 {
		padding-left: 2vw;
		background-image: linear-gradient(-45deg, #7234c5 55%, #3b0bfc 100%);
		color: #ffbe6b;
	}
	
	&--7a {
		width: 50%;
		height: 50%;
		padding: 0 2vw;
		
		top: 0;
		left: unset;
		right: 0;
		
		background: url("img/72016.jpg") center 25% / cover;
		box-shadow: 0 0 8vw color-mod(#111 a(50%));
		
		font-size: 3vw;
		font-weight: bold;
		text-shadow: 0.1vw 0.1vw 0.5vw $black040;
		font-family: "Bungee Shade", sans-serif;
		line-height: 6vw;
		
		@media (max-width: $breakpointMobile) {
			padding-top: 3vw;
			font-size: 8vw;
		}
	}
	
	&--7b {
		width: 50%;
		height: 50%;
		padding: 0 2vw;
		
		top: 50%;
		left: 0;
		
		background: url("img/72017.jpg") center 35% / cover;
		box-shadow: 0 0 8vw color-mod(#111 a(50%));
		
		font-size: 3vw;
		font-weight: bold;
		text-shadow: 0.1vw 0.1vw 0.5vw $black040;
		font-family: "Bungee Shade", sans-serif;
		line-height: 6vw;
		
		@media (max-width: $breakpointMobile) {
			padding-top: 3vw;
			font-size: 8vw;
		}
	}
	
	&--7c {
		width: 50%;
		height: 50%;
		padding: 0 2vw;
		
		top: 50%;
		left: unset;
		right: 0;
		
		background: url("img/72018.jpg") center 60% / cover;
		box-shadow: 0 0 8vw color-mod(#111 a(50%));
		
		font-size: 3vw;
		font-weight: bold;
		text-shadow: 0.1vw 0.1vw 0.5vw $black040;
		font-family: "Bungee Shade", sans-serif;
		line-height: 6vw;
		
		@media (max-width: $breakpointMobile) {
			padding-top: 3vw;
			font-size: 8vw;
		}
	}
	
	&--8 {
		background-image: linear-gradient(-45deg, #81022d 10%, #c5346c 50%, #fca90b 100%);
	}
	
	&--8a {
		height: 75%;
		top: 22vh;
		background-image: url("img/8.jpg");
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	&--9 {
		background-image: linear-gradient(-45deg, #401cad 10%, #c5346c 50%, #fca90b 100%);
	}
	
	&--9a {
		width: 50%;
		height: 98%;
		top: unset;
		bottom: 0;
		left: unset;
		right: 6vw;
		background-image: url("img/9.png");
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
		
		@media (max-width: $breakpointMobile) {
			width: 96vw;
			right: 2vw;
		}
	}
	
	&--9b {
		width: 14vw;
		height: 9vw;
		top: unset;
		bottom: 30vw;
		left: 0;
		background: url("img/9b.png") center/ contain no-repeat;

		@media (max-width: $breakpointMobile) {
			width: 27vw;
			top: -10vw;
			bottom: unset;
		}
	}
	
	&--9c {
		background-image: url("img/9c.jpg");
		animation: spin 20s infinite linear;
		height: 200vw;
		width: 200vw;
		top: -60vw;
		left: -28vw;
		
		@at-root {
			@keyframes spin {
				0% { transform: rotate(1deg); }
				100% { transform: rotate(360deg); }
			}
		}
		
		@media (max-width: $breakpointMobile) {
			height: 300vw;
			width: 300vw;
			top: -20vw;
			left: -100vw;
		}
	}
	
	&--10a {
		background-image: linear-gradient(135deg, $profile1, #7234c5);
		color: #a7fffb;
	}
	
	&--10b {
		color: #a7fffb;
	}
}

.slide-text {
	position: absolute;
	margin: 0;
	pointer-events: none;
	font-size: 3em;
	font-weight: 400;
	
	transition: all 0.3s 0.5s ease-out;
	
	opacity: 0;
	transform: translate3d(2vw, 0, 0);
	
	&--in {
		opacity: 0.9;
		pointer-events: all;
		transform: translate3d(0, 0, 0);
	}
	
	&--1 {
		bottom: 4vw;
		left: 4vw;
		color: black;
		line-height: 4vw;
		font-size: 4vw;
		font-family: "Black Ops One", sans-serif;
		text-shadow: 0 0 5vw color-mod(white a(50%));
		
		@media (max-width: $breakpointMobile) {
			line-height: 10vw;
			font-size: 9vw;
			text-shadow: 0 0 5vw color-mod(white a(50%));
		}
	}
	
	&--2 {
		top: 4vw;
		right: 5vw;
		color: #4dffd7;
		line-height: 4vw;
		font-size: 4vw;
		font-family: "Source Sans Pro", sans-serif;
		text-align: right;
		
		@media (max-width: $breakpointMobile) {
			right: unset;
			top: unset;
			bottom: 5vw;
			left: 5vw;
			text-align: left;
			line-height: 10vw;
			font-size: 11vw;
		}
	}
	
	&--3 {
		top: calc(50% - 5vw);
		left: 0;
		right: 0;
		font-size: 5vw;
		font-family: Caveat, sans-serif;
		text-align: center;
		
		@media (max-width: $breakpointMobile) {
			top: calc(50% - 24vw);
			font-size: 12vw;
			padding: 0 10vw;
		}
	}
	
	&--4 {
		top: 35%;
		left: 5vw;
		color: #0ff;
		line-height: 5vw;
		font-size: 5vw;
		font-family: "Source Sans Pro", sans-serif;
		
		@media (max-width: $breakpointMobile) {
			top: unset;
			bottom: 5%;
			line-height: 12vw;
			font-size: 12vw;
		}
	}
	
	&--5 {
		bottom: 5vw;
		left: 5vw;
		line-height: 5.5vw;
		font-size: 6vw;
		font-family: "Source Sans Pro", sans-serif;
		color: #9c27b0;
		
		@media (max-width: $breakpointMobile) {
			line-height: 14vw;
			font-size: 16vw;
		}
	}
	
	&--5a {
		top: 4vw;
		left: 4.5vw;
		line-height: 3vw;
		font-size: 3vw;
		font-family: "Source Sans Pro", sans-serif;
		text-shadow: 0 0 2vw black;
		
		@media (max-width: $breakpointMobile) {
			line-height: 9vw;
			font-size: 9vw;
		}
	}
	
	&--5black {
		@media (min-width: $breakpointMobile) {
			color: black;
		}
	}
	
	&--6 {
		top: 4vw;
		left: 5vw;
		line-height: 4.8vw;
		font-size: 4vw;
		font-family: "Bungee Shade", sans-serif;
		
		@media (max-width: $breakpointMobile) {
			top: unset;
			bottom: 5vw;
			line-height: 14vw;
			font-size: 12vw;
		}
	}
	
	&--6a {
		bottom: 5vw;
		left: 0;
		right: 0;
		line-height: 4.8vw;
		font-size: 5vw;
		font-family: Pacifico, sans-serif;
		font-weight: 400;
		text-align: center;
		color: white;
		text-shadow: 0 0 3vw color-mod(#f44336 a(100%));
		
		@media (max-width: $breakpointMobile) {
			padding-left: 6vw;
			text-align: left;
			line-height: 12vw;
			font-size: 12vw;
		}
	}
	
	&--6b {
		bottom: 8vw;
		left: 0;
		right: 0;
		line-height: 4.8vw;
		font-size: 8vw;
		font-family: Pacifico, sans-serif;
		font-weight: 400;
		text-align: center;
		color: white;
		text-shadow: 0 0 3vw color-mod(#e91e63 a(100%));
		
		@media (max-width: $breakpointMobile) {
			padding-left: 6vw;
			text-align: left;
			line-height: 12vw;
			font-size: 12vw;
		}
	}
	
	&--6c {
		bottom: 5vw;
		left: 0;
		right: 0;
		line-height: 4.8vw;
		font-size: 5vw;
		font-family: Pacifico, sans-serif;
		text-align: center;
		color: white;
		text-shadow: 0 0 3vw color-mod(#ab47bc a(100%));
		
		@media (max-width: $breakpointMobile) {
			padding-left: 6vw;
			text-align: left;
			line-height: 12vw;
			font-size: 12vw;
		}
	}
	
	&--7 {
		width: 50%;
		height: 50%;
		margin: 0;
		
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		
		line-height: 4vw;
		font-size: 3.8vw;
		font-family: "Source Sans Pro", sans-serif;
		text-align: center;
		
		@media (max-width: $breakpointMobile) {
			padding: 0 2vw;
			line-height: 8vw;
			font-size: 8vw;
		}
	}
	
	&--7b {
		font-size: 1.5vw;
		
		@media (max-width: $breakpointMobile) {
			padding-top: 2vw;
			font-size: 4vw;
			line-height: 4vw;
		}
	}
	
	&--8 {
		width: 100vw;
		margin: 12vh 0;
		line-height: 4.5vw;
		color: #1900ff;
		font-size: 5vw;
		font-family: "Source Sans Pro", sans-serif;
		text-align: center;

		@media (max-width: $breakpointMobile) {
			margin: 40vh 0 0;
			line-height: 8vw;
			font-size: 8.5vw;
		}
	}
	
	&--9 {
		margin: 6vw;
		bottom: 0;
		z-index: 1;
		line-height: 6.5vw;
		font-size: 7.5vw;
		font-family: Monofett, sans-serif;
		transition-duration: 0.8s;
		transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
		
		@media (max-width: $breakpointMobile) {
			top: 15vw;
			line-height: 9.5vw;
			font-size: 12vw;
		}
	}
	
	&--10a {
		width: 100%;
		margin: 6vh auto;
		
		font-size: 2.5vw;
		font-weight: bold;
		font-family: "Source Sans Pro", sans-serif;
		font-family: "Bungee Shade", sans-serif;
		text-align: center;
		text-transform: uppercase;
		
		@media (max-width: $breakpointMobile) {
			margin-top: 5vh;
			padding: 0 5vh;
			font-size: 6vw;
			line-height: 7vw;
		}
	}
	
	&--10b {
		font-weight: bold;
		text-transform: uppercase;
		font-family: "Bungee Shade", sans-serif;
		line-height: 3vw;
		
		@media (max-width: $breakpointMobile) {
			font-size: 4.5vw;
			line-height: 8vw;
		}
	}
	
	&--10c {
		margin-left: 9vw;
		position: absolute;
		font-size: 1.2vw;
		font-family: "Source Sans Pro", sans-serif;
		
		@media (max-width: $breakpointMobile) {
			margin-left: 6vw;
			padding-right: 2vw;
			font-size: 2.7vw;
			line-height: 3.7vw;
		}
	}
}
